.body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', 'CenturyGothic', 'Italiana', 'Unbounded', 'Akony';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-color: var(--main-light);
  box-sizing: border-box;
  min-height: 60vh;
}

* {
  box-sizing: border-box;
}

:root {
  --padding: 1rem;
  --main-dark: #090e08;
  --main-light: #fcfbfa;
  --main-orange: rgb(198, 29, 29);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
  /* border: 3px solid beige */
}