.contacts {
  display: flex;
  aspect-ratio: 1184/740;
  text-decoration: none;
  background-image: url('../../images/benelli__building.webp');
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 780px) {
  .contacts {
    background-image: url('../../images/building__mobile.webp');
    aspect-ratio: 853/1280;
  }
}