
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-dark);
  z-index: 2;
  flex-direction: column;
}

.header__mobile {
  display: none;
}

.header__mobileImage {
  display: none;
}

.header__flag {
  width: 100%;
  height: 0.5rem;
  display: flex;
  z-index: 3;
}

.header__flagSector {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 768px) {
  .header {
    display: none;
  }

  .header__mobile {
    display: block;
    position: relative;
  }

  .header__mobileImage {
    display: block;
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }

  .header__mobileLogo {
    display: block;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 90vw;
    height: auto;
    background: none;
    box-sizing: border-box;
  }
}