.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  display: flex;

}
.popup__container {
  position: relative;
  background-color: var(--main-light);
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--main-orange);
  background-color: white;
  width: 500px;
}
.popup__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 10px;
  align-self: left;
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.popup_opened {
  pointer-events: all;
  z-index: 30;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.popup__closeIcon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transform: scale(1.7);
}
.popup__image {
  /* max-width: 500px;
  width: 100%;
  height: auto; */
  aspect-ratio: 3/2;
  height: 200px;
  width: auto;
  align-self: center;
}
.popup__input {
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid var(--main-orange);
  padding: 1rem;
  -moz-appearance: textfield;
}
.popup::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup__inputArea {
  margin-top: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--main-orange);
  height: 7rem;
  resize: none;
  width: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}
.popup__form {
  margin-left: 2rem;
  margin-right: 2rem;
}
.popup__button {
  all: unset;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--main-orange);
  color: var(--main-light);
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 470px) {
  .popup__container {
    max-width: 500px;
    width: 100%;
  }
  .popup__text {
    font-size: 1.3rem;
  }
}
